<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Edit article</h1>
      <%= render "form" %>
      <%= link_to "Cancel and return to articles listing", articles_path %>
    </div>
  </div>
</div>