<div class="container">
  <div id="jumbotron-home" class="p-5 mb-4 bg-light rounded-3 text-light bg-dark">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Alpha Blog</h1>
      <p class="col-md-8 fs-4">This is a web app created with Ruby On Rails, you can perform CRUD operations on Articles.</p>
      <%= link_to "Articles listing", articles_path, class: "btn btn-dark btn-lg" %>
      <%= link_to "About Page", about_path, class: "btn btn-dark btn-lg" %>
    </div>
  </div>
</div>


<br>
