<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
      Feel free to visit my personal website: <%= link_to "Jean Paul Giraldo", "https://www.jeanpaulgiraldo.com"%>
      <br>
      <small>Copyright &copy;</small>
    </span>
  </div>
</footer>